{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
</div>
    <form method="post" onsubmit="return true"  action="">        
            <span>小组:</span><input name="teamname" type="text" value="{{team.name}}" /><br>
            <span>类型</span>
	            <select name = "type">  
			  		<option value =1>日报组</option>  
			  		<option value =2>周报组</option>   
				</select>
        <div class="btn fix">
            <input type="submit" class="modbtn1" value="提交" />
        </div>
    </form>
{% endblock %}
